.page-header
  = link_to new_course_request_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Report
  %h1 Reports
.row
  .span12
    %table.table.table-striped
      %thead
        %th Date
        %th Type
        %th Owner
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.date_run
            %td= report.type
            %td= report.user.n_number
