.page-header
  = link_to faculty_course_requests_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @faculty_course_request, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing faculty_course_request

= render 'form'
