= render :partial => 'reports/header', :locals => { :report_for => 'Student Requests', :report => @student_report }
.row
  .span12
    = render :partial => 'reports/user_table', :locals => { :requests => @student_report.report_users, :id => 'students-table' }
